{% extends 'base.html' %}

{% block content %}
<main class="about-us">
    <h1>About Us</h1>
    <p>Welcome to Cine mania!!!</p>
        </p>This site is designed to test users in 3 sections, movies, tv shows and awards.</p>
        </p>With difficulty levvels ranging from rookie, intermediate to master.</p>
    </p> As the author I intend tto target all of you TV show and movie fanatics out there enabling you to challenge your knowledge based off my crafted meticulous questions!</p>
    </p>Prepare yourselves!</p>
</main>
{% endblock %}
